.toolbar {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
  width: 100%;
  
  div {
    margin: 0;
    padding: 0 0 0.6rem;
    align-items: center;
    flex: 1 1 100%;
    color: var(--primary-color);
    font-weight: 600;
  }
  button{
    padding: 0;


  }
}
