.news {
  position: relative;
  background: var(--white-100);
  border-radius: 0.5rem;
  min-width: 100%;
  .news__viewport {
    min-width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }

  .news__container {
    min-width: 100%;
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
    border-radius: 0.5rem;
  }

  .news__slide {
    min-width: 100%;
    padding: 0 0 3rem 10px;
    display: flex;
    flex-direction: column;

    .news__slide__inner {
      position: relative;
      overflow: hidden;
      height: 190px;
      width: 100%;
    }

    .content {
      width: 100%;
      padding: 0 0.5rem;
      span {
        display: block;
        font-size: 0.875rem;
        margin-top: 12px;
        color: var(--black-900);
        font-weight: 500;
        text-transform: capitalize;
      }

      h3,
      p {
        margin-top: 1.5rem;
        text-align: justify;
        line-height: 18px;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
      }

      p {
        font-size: 1.125rem;
        font-weight: 500;

        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      button {
        width: 100%;
        margin-top: 1.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        outline: none;
        border: none;
        border-radius: 0.5rem;
        background: var(--blue-600);
        color: var(--white);
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
    .news__slide__img {
      border-radius: 0.5rem;
    }
  }
}

.news__dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
}

.news__dot {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  outline: 0;
  border: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__dot:after {
  background-color: var(--gray-200);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  content: '';
}

.news__dot.is_selected:after {
  background-color: var(--black-800);
  opacity: 1;
}
