.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  height: 100%;
  white-space: nowrap;

  h3 {
    color: var(--white);
    font-size: 1.125rem;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    a {
      color: #c0cdd9;
      text-decoration: none;
      list-style: none;
      font-weight: 500;
      font-size: 1rem;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  @media screen and (max-width: 1140px) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
}
