.container {
  display: flex;
  
  flex-direction: column;
  // margin-top: 1rem;
  height: 100%;
  
  span {
    font-size: 1rem;
    color: var(--brown-600);
    font-weight: 500;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    height: 3.125rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: var(--brown-600);

    &:focus {
      border: 2px solid var(--secondary-color);
    }
  }
  .tooltipLabel{
    padding-bottom: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
