.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  label {
    white-space: nowrap;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
  }

  > div {
    white-space: nowrap;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;
    height: 3.125rem;

    border-radius: 0.5rem;
    color: var(--brown-600);
    font-weight: 400;

    background: var(--gray-200);

    font-size: 0.875rem;
  }
}
