.logosRow {
  display: flex;
  gap: 2rem;

  span {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    color: var(--brown-600);
    font-weight: 500;
  }
  .upIconDiv{
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      
    }      
    cursor:pointer;
      width: 100%;
      height: 100%;
  }
  .classLabel{
    cursor: default;
      display: flex;
      width: 12rem;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      
      height: 3.125rem;
      
      svg {
        height: 2rem;
        width: 2rem;
      }
  }
  .fileUpload {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: baseline;
    align-items: center;
    
    justify-content: center;
    .divImage{
      height: 3.125rem;
      object-fit:scale-down;
      

    }
    .fileName {
      display: flex;
      white-space: nowrap;
      align-items: center;
      width: 12rem;
      height: 1.2rem;
      overflow-x: scroll;
      text-overflow: hidden;

      &::-webkit-scrollbar {
        display: none;
      }
      
    }
  }

  .altTextLogo {
    flex: 2;
    align-items: flex-start;
    justify-content: flex-start;

    input {
      max-width: 22rem;
      background: none;
      border: 1px solid var(--gray-200);
    }

    input:disabled {
      border: none;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .logoLink {
    display: flex;
    flex: 2;
    max-width: 22rem;
    flex-direction: column;

    > div {
      cursor: default;
      display: flex;
      white-space: nowrap;
      align-items: center;
      width: 22rem;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      color: var(--brown-600);

      overflow-x: scroll;
      height: 3.125rem;
      padding: 0 1rem;
      background: rgba(0, 0, 0, 0.1);
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .removeLogoButton {
     align-self: center;
  }
}
