
.button {
      background-color: transparent;
      letter-spacing: 0px;
      text-transform: uppercase;
      display: inline-block;
      border: 0px;
      position: relative;
      color: #414141;
      text-decoration: none;
      transition: 0.3s ease all;
      z-index: 1;
      
  
    &:hover, &:focus {
      color: rgb(255, 0, 0);
    }

    &:hover:before, &:focus:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }

    &:active {
      transform: scale(0.9);
    }
    &:disabled {
      pointer-events: none;
      color: #e5e5e5;
    }
   
}