.container {
  min-height: 100vh;
  display: flex;
  position: relative;

  .header{
    display: flex;
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    max-width: 928px;
  }

  .topHead {
    
    display: flex;
    width: 70vw;
    
    align-items: center;
    flex: 1 1 100%;
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .register {
    box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    display: flex;
    margin: 2rem;
  }

  .form {
    
    width: 100%;
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;background: #fff;
    border-radius: 0.5rem;

    h2 {
      color: blue;
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 1.5rem;
    }
  }
}

.row {
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  margin: 1rem;

  div {
    width: 100%;

    span {
      font-size: 1rem;
    }

    input[type='text'] {
      border: 1px solid var(--gray-200);
    }
  }

  .textArea {
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 100%;
    span {
      font-weight: 500;
      color: var(--brown-600);
      font-size: 1rem;
    }

    textarea {
      border: 1px solid var(--gray-200);
      display: flex;
      height: 100%;
      width: 100%;
      outline: none;
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      color: var(--brown-600);
      resize: none;
    }
  }

  .published {
    height: 3.125rem;
    line-height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1.0rem;
    white-space: nowrap;
    overflow: hidden;
    span {
      
      color: var(--brown-600);
      font-weight: 500;
    }
  }
}

.contentButton {
  margin-top: 0rem;
  margin-right: 1.5rem;
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  #left{
    
      background: var(--white-400);
      color: var(--secondary-color);
    
  }
  
}
.contentButtonDelete {  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  Button{
    
      background: rgb(214, 0, 0);
      color: whitesmoke;
    
  }
  
}


.container {
  display: flex;
  min-height: 100vh;
  position: relative;

  main {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
  }

  .paper {
    margin-top: 1.5rem;

    .link {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: var(--brown-600);
    }
  }
  .paperTop {
    margin-top: 1.5rem;
    

    h1{
      color: #a53d3d;

    }
    .link {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: var(--brown-600);
    }
  }
}
