
.container {
  max-width: 1500px;
  margin: 3rem auto;

  .content {
    padding: 0 3rem;
    min-height: 80vh;

    h1 {
      font-size: 2.5rem;
      position: relative;
      width: fit-content;

      &.title {
        color: var(--black-800);
      }

      &.title::after {
        content: '';
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: -4px;
        left: 0;
        border-radius: 3px 3px 0 0;
        background: var(--black-800);
      }
    }

    .paginated {
      margin-top: 3rem;
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 1rem;
      align-items: center;
      justify-content: center;
    }

    .active {
      background-color: var(--black-800);
      color: var(--white);
    }

    .pageLink {
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 50%;
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.125rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .page {
      cursor: pointer;
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }

    .arrow {
      cursor: pointer;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      .arrowLink {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .news {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    position: relative;
    min-height: 50vh;

    .spinner {
      // background-color: red;
      width: 100%;
      height: 100%;
      // height: 100vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      // top: 50%;
      // left: 50%;
    }

    @media screen and (max-width: 1120px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @media screen and (max-width: 920px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media screen and (max-width: 620px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 3rem;
    }
  }

  @media screen and (max-width: 1120px) {
    .news {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 920px) {
    .news {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 620px) {
    .content {
      padding: 0 1.5rem;
    }
    .news {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 3rem;
    }
  }
}
