.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    .content {
      width: 100%;
      padding: 2rem;
      background: #fff;
      border-radius: 0.5rem;

      h2 {
        color: var(--primary-color);
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .row {
      margin-top: 2rem;
      display: flex;
      width: 100%;
      gap: 2rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 50%;

      span {
        font-size: 1rem;
        margin-bottom: 0.4rem;
        color: var(--brown-600);
        font-weight: 500;
      }

      .text {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        text-align: justify;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0.4rem;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .textDescription {
        padding: 1rem;
        text-align: justify;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0.4rem;
        line-height: 1.5rem;
        min-height: 17.5rem;
      }

      .image {
        border-radius: 0.5rem;
      }
    }

    .links {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        background: var(--secondary-color);
        color: var(--white);
        border: 0;
        border-radius: 0.5rem;
        padding: 0 1.5rem;

        min-width: 10rem;
        height: 3.125rem;
        line-height: 3.125rem;

        font-size: 1rem;
        font-weight: 700;
        text-transform: none;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}
