.container {
  min-height: 100vh;
  display: flex;

  h2 {
    width: 100%;
    color: blue;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  .content {
    margin: 2rem;
    width: 100%;

    > div {
      margin: 0 auto;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.contentButton {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  #left {
    background: var(--white-100);
    color: var(--secondary-color);
  }
}
