.container {
  min-height: 100vh;
  display: flex;
  position: relative;

  .register {
    box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    display: flex;
    margin: 2rem;
  }

  .form {
    width: 100%;
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;background: #fff;
    border-radius: 0.5rem;

    h2 {
      color: blue;
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 1.5rem;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;

  div {
    width: 50%;

    span {
      font-size: 1rem;
    }

    input[type='text'] {
      border: 1px solid var(--gray-200);
    }
  }

  .textArea {
    display: flex;
    flex-direction: column;
    height: 7rem;

    span {
      font-weight: 500;
      color: var(--brown-600);
      font-size: 1rem;
    }

    textarea {
      border: 1px solid var(--gray-200);
      display: flex;
      height: 100%;
      width: 100%;
      outline: none;
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      color: var(--brown-600);
      resize: none;
    }
  }

  .image {
    max-width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    span {
      margin-bottom: 0.5rem;
      width: 100%;
      font-size: 1rem;
      color: var(--brown-600);
      font-weight: 500;
    }

    div {
      width: 100%;

      label {
        width: 40%;
        height: 3rem;
        line-height: 3rem;
        background: var(--secondary-color);
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        color: var(--white);

        display: flex;
        justify-content: center;
      }

      div {
        width: 60%;
      }
    }
  }

  .published {
    height: 3.125rem;
    line-height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;

    span {
      font-size: 1rem;
      color: var(--brown-600);
      font-weight: 500;
    }
  }
}

.contentButton {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  #left {
    background: var(--white-100);
    color: var(--secondary-color);
  }
}
