.container {
  background: var(--blue-600);
  height: 88px;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 88px;
    max-width: 1500px;
    padding: 0 3rem;
    margin: 0 auto;

    .logo {
      height: 88px;
      width: 150px;
    }
  }

  .mobileMenuIcon {
    pointer-events: none;
    opacity: 0;
  }

  .navLinks {
    display: flex;
    list-style: none;
    justify-content: space-between;
   
    li {
      width: 100%;
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 600px) {
    height: 64px;

    .nav {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      height: 64px;

      .logo {
        height: 64px;
        width: 118px;
      }
    }
  }

  @media screen and (max-width: 900px) { // aqui
    display: flex;
    
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      .navLinks {
        display: none;
      }

      .mobileMenuIcon {
        opacity: 100;
        pointer-events: auto;
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          height: 3rem;
          width: 3rem;
        }

        transition: color 0.9s;

        &:hover {
          svg {
            color: var(--white);
          }
        }
      }
    }
    .navLinksMobile {
      position: absolute;
      display: block;
      list-style: none;
      background: var(--white);
      opacity: 90%; //test
      z-index: 999;
      left: 0;
      top: 64px;
      transition: all 0.9s ease-out;
      width: 100%;
      height: fit-content;
      
      li {
        
        padding: 0.2rem 1.5rem;
      }
    }
  }
}
