.container {
  display: flex;

  .aside {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 3rem 2rem;

    h2 {
      color: var(--primary-color);
      font-size: 1.5rem;
      font-weight: 600;
    }

    button,
    label {
      border: 0;
      border-radius: 0.5rem;
      padding: 0 1.5rem;
      height: 3.125rem;

      display: flex;
      align-items: center;

      font-size: 1rem;
      font-weight: 600;
      text-transform: none;

      color: var(--white);
      background: var(--secondary-color);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.contentTop {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 12rem;
  width: 100%;

  .column {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 50%;

    > div {
      width: 100%;
    }
  }

  span {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    color: var(--brown-600);
    font-weight: 500;
  }

  input {
    width: 100%;
    border: 1px solid var(--gray-200);
  }
}

.textarea {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 50%;

  textarea {
    border: 1px solid var(--gray-200);
    display: flex;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--brown-600);
    resize: none;

    font-family: 'Roboto', sans-serif;

    &:focus {
      border: 2px solid var(--secondary-color);
    }
  }
}

.contentBottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 12rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;

  .published {
    height: 3.125rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;

    p {
      font-size: 1rem;
      margin-bottom: 0.2rem;
      color: var(--brown-600);
      font-weight: 500;
    }

    span {
      display: inline-block;
      margin-bottom: 0.3rem;
    }
  }
}

.contentButton {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  #left {
    background: var(--white-100);
    color: var(--secondary-color);
  }
}

.contentFiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;

  .image {
    width: 100%;
    p {
      font-size: 1rem;
      margin-bottom: 0.4rem;
      color: var(--brown-600);
      font-weight: 500;
    }
  }
}
