.container {
  margin-top: 4rem;
  background: var(--blue-600);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    margin-top: 0.5rem;
    text-align: center;
    color: var(--white);
    font-weight: 500;
  }

  @media screen and (max-width: 1140px) {
    flex-direction: row;
  }
}

.content {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (max-width: 940px) {
    width: 100%;
    flex-direction: column;
    align-items: center;

    > div {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 620px) {
    padding: 1rem 2rem;
  }
}
