.labContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem;

  .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    span {
      text-align: left;
      font-weight: 500;
      margin-bottom: 0.4rem;
      color: var(--white);
      font-size: 1rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @media screen and (max-width: 940px) {
    div:last-child {
      display: none;
    }
  }

  @media screen and (max-width: 580px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }
}
