.container {
  width: 100%;
  background: var(--white-100);
  height: 100%;
  gap: 2rem;
  position: relative;

  .image {
    position: relative;
    height: 167px;
    width: 100%;

    .image__inner {
      position: absolute;
      border-radius: 8px;
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin-top: 0.75rem;
      font-size: 18px;
    }

    p {
      font-weight: 500;
      line-height: 1.75rem;
      font-size: 1rem;
      margin-top: 1rem;
      text-align: justify;
    }

    button {
      margin-top: 1rem;
      width: 100%;
      height: 3.5rem;
      line-height: 3.5rem;
      border-radius: 0.5rem;
      border: 0;
      outline: none;
      font-size: 1.125rem;
      background: var(--blue-600);
      color: var(--white);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }

      &.left {
        background: var(--white-100);
        color: var(--secondary-color);
      }
    }
  }

  @media screen and (min-width: 720px) {
    .image {
      height: 300px;
      width: 100%;
    }

    .content {
      button {
        margin-top: 1.5rem;
        width: 212px;
        height: 3.5rem;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    display: flex;

    .image {
      height: 360px;
      width: 640px;
    }

    .content {
      width: 55%;
      h3 {
        margin-top: 0;
        font-size: 2rem;
      }
      p {
        margin-top: 1.5rem;
      }

      button {
        margin-top: 1.5rem;
        width: 212px;
        height: 3.5rem;
      }
    }
  }

  @media screen and (min-width: 1120px) {
    .content {
      p {
        margin-top: 3rem;
        font-size: 1.125rem;
      }

      button {
        margin-top: 3rem;
      }
    }
  }
}
