.button {
  outline: 0;
  border: 0;
  margin: 0 16px;
  cursor: pointer;
  background-color: transparent;

  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  touch-action: manipulation;
  justify-content: center;
  align-items: center;
  fill: var(--white-100);

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  .button_svg {
    width: 3rem;
    height: 3rem;
  }
}

.button_prev {
  left: 32px;
}

.button_next {
  right: 32px;
}
