.container {
  display: flex;

  .view {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgba(0, 0, 0, 0.2);
    padding: 3rem 2rem;

    h2 {
      color: var(--primary-color);
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      color: #121214;
      margin-bottom: 0.5rem;
    }

    button {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      border-radius: 0.5rem;

      padding: 0 1.5rem;
      height: 3.125rem;
      width: 10rem;
      float: right;

      font-size: 0.875rem;
      font-weight: 600;
      text-transform: none;

      color: var(--white);
      background: var(--secondary-color);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .published {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 0.5rem;
    cursor: default;
    margin-bottom: 0.5rem;

    p {
      display: flex;
      margin-top: 0.5rem;
    }
  }

  .row {
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 2rem;

    & + div {
      margin-top: 2rem;
    }
  }

  .textField {
    display: flex;
    flex-direction: column;
    width: 50%;

    div {
      border: 1px solid var(--gray-200);
      cursor: default;
      display: flex;
      align-items: center;

      height: 50px;
      font-size: 1rem;
      font-weight: 400;

      padding: 0.5rem 1rem;
      border-radius: 0.5rem;

      color: var(--black-800);
      background: var(--white);
    }
  }

  .images {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    gap: 2rem;

    span {
      border-radius: 0.5rem;
    }
  }

  .links {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
