.container {
  display: flex;
  min-height: 100vh;
  position: relative;
  
  overflow: scroll;
  main {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
  }

  .paper {
    margin-top: 1.5rem;

    .link {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: var(--brown-600);
    }
  }
}
